.sharingan {
    animation-duration: 2s;
    animation-name: giro;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    max-width: 64px;
    max-height: 64px;
    background-size: cover;
  }
  
  @keyframes giro {
    30% {
      transform: rotate(108deg);
      
    }
    100%{
        transform: rotate(360deg);
    }
  }